<h1>
  All directors
</h1>

<a href="/directors/new">
  Add a new director
</a>

<hr>

<table class="table">
  <tr>
    <th></th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% @directors.each do |director| %>
  <tr>
    <td>
      <img src="<%= director.image_url %>" width="100">
    </td>

    <td>
      <%= director.name %>
    </td>

    <td>
      <%= director.dob %>
    </td>

    <td>
      <a href="/directors/<%= director.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
