<h1>
  All actors
</h1>

<a href="/actors/new">
  Add a new actor
</a>

<hr>

<table class="table">
  <tr>
    <th></th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th></th>
  </tr>

  <% @actors.each do |actor| %>
  <tr>
    <td>
      <img src="<%= actor.image_url %>" width="100">
    </td>

    <td>
      <%= actor.name %>
    </td>

    <td>
      <%= actor.dob %>
    </td>

    <td>
      <a href="/actors/<%= actor.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
