<!-- Validation failure messages -->
<% if @character.present? %>
  <% if @character.errors.any? %>
    <% @character.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new character
</h1>

<hr>

<form action="/create_character" method="post">
  <!-- Label and input for movie_id -->
  <div class="form-group">
    <label for="movie_id">
      Movie
    </label>

    <%= select_tag("movie_id", options_from_collection_for_select(Movie.order(:title), :id, :title, @character.try(:movie_id)), :class => "form-control") %>

    <p class="form-text">
      or <a href="/movies/new">add a new movie</a> first
    </p>
  </div>

  <!-- Label and input for actor_id -->
  <div class="form-group">
    <label for="actor_id">
      Actor
    </label>

    <%= select_tag("actor_id", options_from_collection_for_select(Actor.order(:name), :id, :name, @character.try(:actor_id)), :class => "form-control") %>

    <p class="form-text">
      or <a href="/actors/new">add a new actor</a> first
    </p>
  </div>

  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @character.try(:name) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create character
  </button>
</form>

<hr>

<a href="/characters">
  Go back
</a>
