<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      MSM Auth
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/directors" class="nav-link">
            Directors
          </a>
        </li>

        <li class="nav-item">
          <a href="/movies" class="nav-link">
            Movies
          </a>
        </li>

        <li class="nav-item">
          <a href="/characters" class="nav-link">
            Characters
          </a>
        </li>

        <li class="nav-item">
          <a href="/actors" class="nav-link">
            Actors
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/users/edit" class="nav-link">
            Dummy Edit Profile Link
          </a>
        </li>

        <li class="nav-item">
          <a href="/users/sign_out" data-method="delete" rel="nofollow" class="nav-link">
            Dummy Sign Out Link
          </a>
        </li>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
